/******购物车 ********/
.eachshop{
	margin-top:20px;
	margin-bottom: 10px;
	color:#333;
}
.eachshop td{
	border:1px solid #E2E2E2;
}
.chk{
	border:none;
}
.ename{
	position: relative;
	font-size: 14px;
}
.ename a{
	color:#333;
	cursor: pointer;
}
.ename img{
	position: absolute;
	left:0px;
	top:50%;
	margin-top:-50px;
}
.ename div{
	position: absolute;
	right: 0px;
	top:50%;
	margin-top:-50px;
	width: 216px;
	height: 98px;
	padding:1px 5px;
	overflow: hidden;
}
.enum input{
	width: 45px;
	height: 35px;
	font-size:20px;
	padding:5px;
	text-align: center;
	border: 1px solid #ccc;
	background-color: #f2f2f2;
}
.enum input:focus{
	box-shadow: 0 -0 8px rgba(0, 0, 0, 0.12);
}
.eprice p{
	text-decoration: line-through;
	color:#999;
}
.etogether{
	color:#E92333;
	font-size:20px;
}
.etogether input{
	width: 100%;
	height: 186px;
	border:none;
	color:#E92333;
	font-size:24px;
	background:#fff;
	text-align: center;
}
/****	 购物车**********/
.settle{
	background: #E6E6E6;
	color:#333;
}
.sselect a{
	margin-left: 20px;
	color:#333;
}
.sselect input{
	width:90px;
	height: 40px;
	margin-left: 20px;
}
.stotal{
	color:#666;
}
.stotal font{
	color:#E92333;
	font-size: 22px;
	margin-right: 10px;
}
.sebtn input{
	width:100%;
	height: 56px;
	border:none;
	background: #FA2A83;
	color:#fff;
	font-size: 20px;
	letter-spacing: 1.8px;
}
.sebtn input:hover{
	background:#DB0A76;
}
