.registertable{
  color:#666;
  font-size: 14px;
}
.registertable input{
  border-radius: 4px;
  padding:2px;
  border:1px solid #ccc;
  color:#333;
}
register tr td h2{
  color:#999;
}
.register_submit{
  width:100px;
  background:#F43499;
  color:#fff;
  border:none;
}
.register_rewrite{
  width:100px;
}
